# necessary to push to PyPI
# cf. https://tom-christie.github.io/articles/pypi/

# subfolders
recursive-include ezhc/api *
recursive-include ezhc/samples *
recursive-include ezhc/script *

# Misc
include LICENSE
include README.rst
include requirements.txt
